* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: burlywood;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container {
    max-width: auto;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: gray;
    text-decoration: none;
    transition: 0.3s;
}

img {
    border-radius: 25%;
    width: 15%;
    height: 15%;
    margin: 20px;
}

.section-name {
    text-align: center;
    line-height: 3px;
    font-size: 22px;
}

.nav-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-item a:hover {
    color: #4d2323;
}

.section-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    color: darkblue;
}

.container-footer {
    display: flex;
    text-align: center;
    width: 100%;
    height: 30px;
    margin: 0px;
}

.year {
    background: rgb(240, 224, 159);
    display: flex;
    padding-top: 5px;
    flex: 0.1;
}

.login {
    background: rgb(240, 224, 159);
    display: flex;
    flex: 1.2;
    padding-top: 5px;

}

.login a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
}

.login a:hover {
    color: #4d2323;
}

.href-school {
    background: rgb(240, 224, 159);
    text-decoration: none;
    padding-top: 5px;
    display: flex;
    flex: 0.1;
}

.href-school a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
}

.href-school a:hover {
    color: #4d2323;
}


.rss {
    width: 78px;
    height: 28px;
    background: rgb(240, 224, 159);
    background-image: url("./assets/rsschool.svg");
    background-size: contain;
    background-repeat: no-repeat;

}