* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: burlywood;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: gray;
    text-decoration: none;
}

img {
    border-radius: 25%;
    width: 15%;
    height: 15%;
    margin: 20px;
}

.section-name {
    text-align: center;
    line-height: 3px;
    font-size: 22px;
}